@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&family=Poppins&display=swap");

:root {
    --primary: #8257E5;
    --purple: #774DD6;
    --purple-lighten: #9871F5;
    --purple-darken: #6842C2;
    --green: #04D361;
    --green-lighten: #24EF7F;
    --green-darken: #01ac4e;
    --text-purple-base: #D4C2FF;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary);
    font-family: 'Poppins', sans-serif;
}

.presentation {
    max-width: 1120px;
    height: 100vh;
    margin: auto;
    justify-content: center;
    flex-direction: column;
    display: flex;
}
.presentation .content {
    align-items: flex-start;
    display: flex;
}
.presentation .brand {
    margin-top: 67px;
    margin-right: 87px;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
}
.presentation .brand h2 {
    font-size: 36px;
    font-weight: normal;
    margin-top: 8px;
    color: var(--text-purple-base);
    line-height: 46px;
    grid-area: brand-text;
}

.presentation .footer {
    margin-top: 87px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.presentation .footer .button {
    background-color: var(--purple-lighten);
    font: 700 1.5rem 'Archivo', sans-serif;
    padding: 32px 64px;
    border-radius: 8px;
    border: none;
    outline: none;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: background-color 150ms linear;
}
.presentation .footer .button:hover {
    background-color: var(--purple);
}
.presentation .footer .options {
    grid-template-areas: '. .';
    grid-gap: 1rem;
    display: grid;
}
.presentation .footer .button.button-green {
    background-color: var(--green);
}
.presentation .footer .button.button-green:hover {
    background-color: var(--green-darken);
}
.presentation .footer .button:link,
.presentation .footer .button:active,
.presentation .footer .button:visited {
    color: #fff;
    text-decoration: none;
}
.presentation .footer .button img {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1rem;
}
.presentation .footer .total-connections {
    font-size: 12px;
    color: var(--text-purple-base);
    align-items: center;
    display: flex;
}
.presentation .footer .total-connections img {
    margin-left: 10px;
}

@media (max-width: 1200px) {
    .presentation .content {
        flex-direction: column;
        align-items: center;
    }
    .presentation .footer {
        flex-direction: column;
    }
    .presentation .footer .total-connections {
        margin-top: 2.5rem;
    }
}