@import 'reset';
@import 'variables';

.switch-wrapper {
    position: relative;
    & > div {
        position: absolute;
    }
}

body {
    font-family: 'Poppins', sans-serif;
}

@mixin container {
    max-width: $center;
    margin: 0 auto;
}

.container {
    @include container;
}

.landing {
    background-color: $primary;
    width: 100vw;
    height: 100vh;
    .presentation {
        @include container;        
        height: 100vh;
        justify-content: center;
        flex-direction: column;
        display: flex;
    }
    .presentation .content {
        align-items: flex-start;
        display: flex;
    }
    .presentation .brand {
        margin-top: 67px;
        margin-right: 87px;
        flex-direction: column;
        align-items: flex-start;
        display: flex;
    }
    .presentation .brand h2 {
        font-size: 36px;
        font-weight: normal;
        margin-top: 8px;
        color: $text-purple-base;
        line-height: 46px;
        grid-area: brand-text;
    }
    
    .presentation .footer {
        margin-top: 87px;
        justify-content: space-between;
        align-items: center;
        display: flex;
    }
    .presentation .footer .button {
        background-color: $purple-lighten;
        font: 700 1.5rem 'Archivo', sans-serif;
        padding: 32px 64px;
        border-radius: 8px;
        border: none;
        outline: none;
        text-decoration: none;
        align-items: center;
        justify-content: center;
        display: flex;
        transition: background-color 150ms linear;
    }
    .presentation .footer .button:hover {
        background-color: $purple;
    }
    .presentation .footer .options {
        grid-template-areas: '. .';
        grid-gap: 1rem;
        display: grid;
    }
    .presentation .footer .button.button-green {
        background-color: $green;
    }
    .presentation .footer .button.button-green:hover {
        background-color: $green-darken;
    }
    .presentation .footer .button:link,
    .presentation .footer .button:active,
    .presentation .footer .button:visited {
        color: #fff;
        text-decoration: none;
    }
    .presentation .footer .button img {
        width: 2.5rem;
        height: 2.5rem;
        margin-right: 1rem;
    }
    .presentation .footer .total-connections {
        font-size: 12px;
        color: $text-purple-base;
        align-items: center;
        display: flex;
    }
    .presentation .footer .total-connections img {
        margin-left: 10px;
    }
    
    @media (max-width: 1200px) {
        .presentation .content {
            flex-direction: column;
            align-items: center;
        }
        .presentation .footer {
            flex-direction: column;
        }
        .presentation .footer .total-connections {
            margin-top: 2.5rem;
        }
    }
}

.create-account {
    background-color: $gray;
    width: 100vw;
    height: 100vh;
    .header {
        background-color: $purple;
        height: 368px;
        .container {
            position: relative;
        }
        .navbar {
            width: 100%;
            position: absolute;
            top: 18px;
            left: 0;
            justify-content: space-between;
            display: flex;
        }
        .jumbotron {
            max-width: 736px;
            margin: 0 auto;
            position: relative;
            top: 80px;
            h1 {
                font: bold 36px 'Archivo', sans-serif;
                line-height: 42px;
                color: #fff;
            }
            p {
                font-size: 16px;
                color: $text-purple-base;
                margin-top: 24px;
            }
        }
    }

    .card {
        background-color: #fff;
        width: 736px;
        border: 1px solid #E6E6F0;
        border-radius: 8px;
        margin: -63px auto 0 auto;
        padding: 56px 64px;
    }
}